/* IMPOSTAZIONE PAGINA */
* {
    margin: 0px;
    padding: 0px;
}

.paragrafi {
    margin-top: 15px;
    margin-bottom: 15px;
}

main {
    padding: 10px;
}

/* end IMPOSTAZIONE PAGINA */

/* LOGO */
header {
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 20%;
}

#logo {
    height: 45px;
    margin: 20px 5px 7px;
}

/* end LOGO */


/* ARTICOLO */


/* TITOLO e AUTORE */
.sottotitolo {
    color: #8f8f8f;
}

#autore {
    color: #4ea0ff;
}

#data-pubblicazione {
    font-size: 0.7rem;
}

/* TITOLO e AUTORE */

/* IMMAGINI */
#tim-1 {
    height: 400px;
}

#tim-2 {
    height: 400px;
}

.descrizione-foto {
    font-size: 0.7rem;
}

/* end IMMAGINI */

/* TESTO LOREM */
.evidenziato {
    background-color: yellow;
}

/* end TESTO LOREM */

/* ELENCO PUNTATO */
ol {
    padding-left: 15px;
    list-style-type: square;
}

/* end ELENCO PUNTATO */

/* TABELLA LOREM */
#tabella-parti {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#tabella-parti th {
    background-color: #4ea0ff;
    color: white;
}

.celle-piccole {
    width: 25%;
}

.celle-grandi {
    width: 50%;
}

.celle-colorate {
    background-color: rgba(0, 157, 242, 0.5);
}

/* end TABELLA LOREM */

/* INFORMAZIONI PRODOTTI */
#altri-articoli {
    padding-left: 10px;
}

#monitor {
    background-image: url(../img/monitor.jpg);
}

#grafico {
    background-image: url(../img/graph.jpg);
}

.img-footer {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    padding: 15px;
    margin font-size: 1rem;
    color: white;
}

/* end INFORMAZIONI PRODOTTI */


/* end ARTICOLO */






















/* #tim-1 {
    width: 60%;

}

#tim-2 {
    width: 40%;
}

.descrizione-foto {
    font-size: 12px;
}

.evidenziato {
    background-color: yellow;
}

#riga-titoli {
    background-color: aqua;
    color: white;
} */