#testo-chiaro {
    color: lightgray;
    font-size: 15px;
}

#tim-1 {
    width: 60%;

}

#tim-2 {
    width: 40%;
}

.descrizione-foto {
    font-size: 12px;
}

.evidenziato {
    background-color: yellow;
}

#riga-titoli {
    background-color: aqua;
    color: white;
}